<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eat_schedule.mapper.PromotionMapper">

    <select id="findAll" resultType="eat_schedule.dto.Store">
        select distinct store.seq, picture_location, store.owner_id, store_name, location, tel_number, store.owner_comment, open_time, close_time, how_to_come, parking, wifi,animal, group_customer, playroom, disabled, round(AVG(review.score),1) as score
        from store
        right join review on store.seq=review.store_seq
        where store.seq =(select store_seq
                    from promotion_list
                    where district = #{district} and list_date = #{today})
    </select>

</mapper>