@charset "UTF-8";

*{
	padding:0;
	margin:0;
	border:none;
	list-style:none;
}
.all{
	font-size:15px;
	margin-top:50px;
	margin-bottom:50px;
}
.join{
	width:600px;
	height:100%;
	padding:50px;
	box-sizing:border-box;
	margin:0 auto;
}
h1{
	font-size:30px;
	color:#FF9139;
	margin-bottom:50px;
	text-align:center;
}
input[type="text"], input[type="password"]{
	width:100%;
	height:50px;
	padding: 0 20px;
	box-sizing:border-box;
	margin-bottom:25px;
	border-bottom:#FF7100 solid 2px;
}
input:focus{
	outline:none;
}
input[type="button"]{
	height:30px;
	line-height:30px;
	padding:0 20px;
	margin-bottom:10px;
}
input[type="submit"]{
	border:none;
	background-color:#FF7100;
	color:white; 
	width:100px;
	height:40px;
	line-height:40px;
	border-radius:10px;
}
.btn1{
	border:none;
	background-color:#FF7100;
	color:white; 
	width:100px;
	height:40px;
	line-height:40px;
	border-radius:10px;
	margin-right:20px;
}
.btn{
	text-align:center;
	margin-top:40px;
}
.new_face_btn:hover, .btn1:hover{
	background-color:#FFA964;
	cursor:pointer;
}
input[type="button"]:hover{
	cursor:pointer;
}





