<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.eat_schedule.Mapper.StoreMapper">

    <select id="findAll" resultType="project.eat_schedule.dto.Store">
        select *
        from store
        <where>
            <if test="district != null and district !=''">
                and district = #{distritc}
            </if>
            <if test="category != null and category !=''">
                and category = #{category}
            </if>
        </where>
    </select>
    <select id="findStore" resultType="project.eat_schedule.dto.Store">
        select *
        from store
        where seq = #{seq}
    </select>

</mapper>