*{
    position: relative;
}
body, ul, li{
    padding:0;
    margin:0;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:#FF7100;
}
#nav_bar{
    background-color:white;
    width:100%;
    display:flex;
    flex-direction:row;
    height:60px;
    line-height:60px;
    align-items:center;
    box-shadow:0 7px 7px -7px #FF7100;
    padding:10px 0 10px 10px;
    top:0;
}
#logo, #shop, #board, #login_logout, #join_balloon, img{
    height:80px;
}
#nav_bar div{
    float:left;
}
#login_logout, #join_balloon{
    display:flex;
    align-items:center;
}
#logo{
    margin-left:7%;
    margin-top:15px;
}
#without_logo{
    width:90vw;
    display:flex;
}
#inner{
    width:90vw;
    margin:0 auto;
}
#shop{
    margin-left:16.7%;
    margin-right:16.7%;
    line-height:80px;
}
#login_logout{
    margin-left:35%;
    margin-right:3.3%;
}
#board{
    position: relative;
    cursor: pointer;
    line-height:80px;
    color:#FF7100;
}

#board::before{
    display: inline-block;
    color: #006633;
}

#board.on>span{
    color: #006633;
}

#person_img{
    position: relative;
    cursor: pointer;
    line-height:80px;
}

#person_img::before{
    display: inline-block;
    color: #006633;
}

#person_img.on>span{
    color: #006633;
}
.menu {
    display: none;
    overflow: hidden;
    background-color: #f4f4f2;
    line-height:30px;
    position: absolute; top: 50%; transform: translateY(-50%);
    margin-top:80px;
    padding:10px;
}

.menu::before {
    display: inline-block;
    color: #666;
    margin: 0 5px;
}
.button{
    border: 1px solid #FF7100;
    background-color:#FF7100;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 35px;
}
.select{
    width: 200px;
    border: 1px solid #FF7100;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    appearance: none;
    text-align: center;
}
.pl:focus{
    border: 1px solid #FF7100;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 3px solid #FF7100;
    border-radius: 10px;
}
#district_category{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
#category{
    margin-left: 10%;
    margin-right: 10%;
}
#sort{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
#sort_review{
    margin-left: 10%;
    margin-right: 10%;
}
#store{
    display: flex;
    width: 27vw;
}
#stores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#store_name{
    font-weight: bold;
    font-size: large;
}
#star{
    color:#FF7100;
    margin-left: 1vw;
}
#store{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1vw;
    height: 25vh;
    max-width: 258.375px;
}
.store_img{
    width: 23vw;
    height: 16vh;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
li {
    list-style-type: none;
}
option{
    text-align: center;
}
#slideShow {
    /*전체 컨테이너*/
    width: 500px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
}
.slides {
    /*이미지들이 담겨있는 슬라이드 컨테이너*/
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
    height: 200px;
} /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
.slides li img{
    height: 200px;
}
.slides li:first-child {
    margin-left: 100px;
} /* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child) {
    float: left;
    margin-right: 100px;
}
.controller span {
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
    margin-top: 11vh;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover {
    background-color: rgba(128, 128, 128, 0.11);
}
.prev {
    left: 10px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
    transform: translateX(-10px);
}
.next {
    right: 10px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
    transform: translateX(10px);
}
.wish{
    float: right;
}
.store_information{
    width: 23vw;
}
.store{
    border: lightgray 2px solid;
    margin-left: 1vw;
}