<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="ko" charset="UTF-8">
<head>
  <meta charset="UTF-8">
  <title th:text="${store.store_name}"></title>
  <script src="../static/js/calendar.js"></script>
  <link rel="stylesheet" th:href="@{/css/store.css}">
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<div id="nav_bar">
  <div id="logo">
    <a href="/"><img src="/picture/logo.png" style="width:130px; height:60px;"/></a>
  </div>
  <div id="without_logo">
    <div id="inner">
      <div id="shop">
        <a href="/shopAndEvent/shop">상점</a>
      </div>

      <div id="drop">
        <div class="menu">
						<span>
							<a href="/board/FAQ">FAQ</a><br/>
							<a href="/board/inquiry">1:1문의</a>
						</span>
        </div>
      </div>

      <div id="login_logout">
        <div th:if="${session.logStatus}!='Y'"><a href="/register/loginForm">로그인</a></div>
        <img src="/img/person.png" style="width:30px; height:30px;" id="person_img_owner" th:if="${logStatus=='Y'  && isOwner==1 }"/>
        <div class="menu" th:if="${logStatus=='Y'  && isOwner==1 }">
							<span>
								<a href="/register/logout">로그아웃</a><br/>
								<a href="/ownerpage/ownerStart">마이페이지</a>
							</span>
        </div>

        <img src="/picture/person.png" style="width:30px; height:30px;" id="person_img_user" th:if="${logStatus=='Y'  && isOwner==0 }"/>
        <div class="menu" th:if="${logStatus=='Y'  && isOwner==0 }">
							<span>
								<a href="/register/logout">로그아웃</a><br/>
								<a href="/user/myPage">마이페이지</a>
							</span>
        </div>
      </div>
      <div id="join_balloon" th:if="${logStatus!='Y'}">
        <div><a href="/register/joinForm">회원가입</a></div>
        <img src="/picture/balloons.png" style="width:30px; height:30px; margin:0 auto;" th:if="${logStatus=='Y'  && isOwner==1 }"/>
        <p style="color:#FF7100">&nbsp;&nbsp; X ${balloon}</p>
        <img src="/picture/balloons.png" style="width:30px; height:30px; margin:0 auto;" th:if="${logStatus=='Y'  && isOwner==0 }"/>
        <p style="color:#FF7100">&nbsp;&nbsp; X ${balloon}</p>
      </div>
    </div>
  </div>
</div>
<div id="slideShow">
  <ul class="slides">
    <!--        <li th:each="List:${promotionList}"><img th:src="@{/${List.picture_location}}"></li>-->
    <li><img src="/picture/balloons.png"></li>
    <li><img src="/picture/logo.png"></li>
  </ul>
  <p class="controller">
    <span class="prev">&lang;</span>
    <span class="next">&rang;</span>
  </p>
</div>
<script src="/js/slide.js"></script>
<div id="store_inf">
<form th:action="@{/restaurant/{seq}(seq=${store.seq})}" method="post" id="reservation">
  <select th:value="date" id="date">
    <option value="">날짜 선택</option>
    <option th:each="date:${left}" th:value="${date.reservation_date}" th:text="${date.reservation_date}"></option>
  </select>
  <select th:value="time" id="select_time">
    <option value="">시간 선택</option>
    <option th:each="date:${left}" th:value="${date.reservation_time}" th:text="${date.reservation_time}"></option>
  </select>
  <select th:value="people" id="people">
    <option value="">인원 선택</option>
    <option th:each="date:${left}" th:value="${date.people}" th:text="${date.people}"></option>
  </select>
  <!--    <select th:value="coupon" id="coupon_use">-->
  <!--      <option value="">쿠폰 사용</option>-->
  <!--      <option th:each="coupon:${coupon}" th:value="${coupon.discount_rate}" th:text="${coupon.discount_rate}"></option>-->
  <!--    </select>-->
  <button onclick="onDisplay()" id="reservation_button">예약</button>
  <script>
    /*<![CDATA[*/
    var date = document.getElementById("reservation_date");
    var time = document.getElementById("reservation_time");
    var people = document.getElementById("reservation_people");
    var coupon = document.getElementById("reservation_coupon");

    date.innerHTML=document.getElementById("date");
    time.innerHTML=document.getElementById("time");
    people.innerHTML=document.getElementById("people");
    coupon.innerHTML=document.getElementById("coupon");
    /*]]>*/
  </script>
  <div id="reservation_confirm" style="display: none;">
    <p id="reservation_date"></p>
    <p id="reservation_time"></p>
    <p id="reservation_people"></p>
    <p id="reservation_coupon"></p>
    <input type="text" name="comment" id="user_comment">
    <button type="submit" onclick="message()">확인 먹풍(-5)</button>
    <button onclick="offDisplay()">취소</button>
  </div>
</form>
<script src="/js/quick_menu.js"></script>
<div class="con">
  <!--/* 음식점정보 */-->
    <th:block th:object="${store}">
      <div id="store_information">
        <p id="common_store_name">매장명</p>
      <p th:field="*{store_name}" th:text="*{store_name}" th:id="store_name"></p>
      <p id="common_location">상세 위치 안내</p>
      <p th:value="*{location}" id="store_location" th:text="*{location}"></p>
      <div id="map" style="width:50%;height:350px;"></div>
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bf51c8be3f9bf6ff5d80d7217305cd1b&libraries=services"></script>
      <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                  center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                  level: 3 // 지도의 확대 레벨
                };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch([(${store.location})], function(result, status) {

          // 정상적으로 검색이 완료됐으면
          if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
              map: map,
              position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
              content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${store.store_name}]]</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
          }
          function zoomIn() {
            // 현재 지도의 레벨을 얻어옵니다
            var level = map.getLevel();

            // 지도를 1레벨 내립니다 (지도가 확대됩니다)
            map.setLevel(level - 1);

            // 지도 레벨을 표시합니다
            displayLevel();
          }

          function zoomOut() {
            // 현재 지도의 레벨을 얻어옵니다
            var level = map.getLevel();

            // 지도를 1레벨 올립니다 (지도가 축소됩니다)
            map.setLevel(level + 1);

            // 지도 레벨을 표시합니다
            displayLevel();
          }
        });
      </script>
      <p id="common_category">분류</p>
      <p th:field="*{category}" th:text="*{category}"></p>
      <p id="common_time">영업 시간</p>
      <p th:name="time" th:id="time" th:value="time" th:text="|*{open_time} ~ *{close_time}|"></p>
      <p id="common_tel_number">매장 전화번호</p>
      <p th:field="*{tel_number}" th:text="*{tel_number}" id="tel_number"></p>
      <p id="common_how_to_come">오시는 길</p>
      <p th:field="*{how_to_come}" th:text="*{how_to_come}" id="how_to_come"></p>
      <p id="common_facilities">편의시설</p>
      <p th:if="${facility} != null" th:name="'편의시설'" id="facilities" th:value="'편의시설'" th:text="${facility}"></p>
      <p id="common_comment">사장님 한마디</p>
      <p th:field="*{comment}" th:text="*{comment}" id="comment"></p>
      </div>
    </th:block>
  </div>
  <div><!--/* 메뉴 */-->
    <table>
      <th:block th:each="kind:${type}">
        <h4 th:text="${kind}"></h4>
        <th:block th:each="menu:${menus}">
          <ul th:if="${menu.category}==${kind}">
          <li th:field="${menu.menu_name}" th:text="${menu.menu_name}"></li>
          <li th:field="${menu.price}" th:text="${menu.price}"></li>
          </ul>
        </th:block>
      </th:block>
    </table>
  </div>
  <div><!--/* 리뷰 */-->
    <div>
      <p>★</p>
      <p th:field="${avgScore}" th:text="${avgScore}"></p>
    </div>
    <div th:each="review:${reviews}">
      <p th:field="${review.user_id}" th:text="${review.user_id}"></p>
      <p>★</p>
      <p th:field="${review.score}" th:text="${review.score}"></p>
      <p th:field="${review.review_time}" th:text="${review.review_time}"></p>
      <p th:field="${review.review}" th:text="${review.review}"></p>
      <img th:src="@{picture/review/{seq}(seq=${review.picture_location})}">
      <div th:if="${review.owner_comment} != null">
        <p th:field="${review.owner_id}" th:text="${review.owner_id}"></p>
        <p th:field="${review.owner_comment}" th:text="${review.owner_comment}"></p>
      </div>
    </div>
  </div>
</div>
</div>
<footer>
  <p>푸터</p>
</footer>
</body>
</html>