<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title th:text="${store.store_name}"></title>
  <script src="../static/js/calendar.js"></script>
  <link rel="stylesheet" href="/css/store.css">
</head>
<body>
<div class="header">
<a href="http://localhost:8080"><img src="/picture/logo.jpg" id="logo"></a>
  <ul id="nav-bar_ul">
    <li id="store" style="float: left">상점</li>
    <li id="qna" style="float: left; padding-left: 40px">문의사항</li>
  </ul>
  <ul id="about_login">
    <li><a th:if="${session.logStatus != null} " th:href="logout" th:text="로그아웃" href="login" id="logout">로그아웃</a></li>
    <li><a th:if="${session.logStatus != null} " th:href="mypage" th:text="마이페이지" href="join" id="mypage">마이페이지</a></li>
    <li><a th:if="${session.logStatus != null} " th:href="logout" id="balloon">먹풍</a></li>
    <li><a th:if="${session.logStatus != null} " th:href="logout" id="coupon">쿠폰</a></li>
    <li><a th:if="${session.logStatus == null} " th:href="logout" id="login">로그인</a></li>
    <li><a th:if="${session.logStatus == null} " th:href="logout" id="join">회원가입</a></li>
  </ul>
</div>
<div id="slide_wrap">
  <div class="slide_item" id="item1">
    <img src="/picture/test.jpg">
  </div>
  <div class="slide_item" id="item2">
    <img src="/picture/test.jpg">
  </div>
  <div class="slide_item" id="item3">
    <img src="/picture/test.jpg">
  </div>
<!--  <div class="slide_item item1" th:each="fileInfo: ${fileInfos}">-->
<!--    <img th:src="@{/src/main/webapp/storeuploadfile/store__${store.seq}/storepicture/${fileInfo}}">-->
<!--  </div>-->
  <div class="slide_prev_button slide_button">◀</div>
  <div class="slide_next_button slide_button">▶</div>
  <ul class="slide_pagination"></ul>
</div>
<script th:inline="javascript" th:src="@{/js/slide.js}"></script>
<div class="con">
  <div th:object="${store}"><!--/* 음식점정보 */-->
    <div id="map" style="width:100%;height:350px;"></div><!--/* 지도 */-->
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bf51c8be3f9bf6ff5d80d7217305cd1b&libraries=services"></script>
      <script type="text/javascript" src="../static/js/map.js" th:value="*{location}" id="store_location_map"></script>
    <table>
      <tr th:field="*{store_name}" th:text="*{store_name}"></tr>
      <tr th:field="*{location}" th:text="*{location}"></tr>
      <tr th:field="*{category}" th:text="*{category}"></tr>
      <tr th:name="time" th:id="time" th:value="time" th:text="|*{open_time}+' ~ '+*{close_time}|"></tr>
      <tr th:field="*{comment}" th:text="*{comment}"></tr>
      <tr th:field="*{tel_number}" th:text="*{tel_number}"></tr>
      <tr th:field="*{how_to_come}" th:text="*{how_to_come}"></tr>
      <tr th:if="${facility} != null" th:name="'편의시설'" th:id="'편의시설'" th:value="'편의시설'" th:text="${facility}"></tr>
    </table>
  </div>
  <div><!--/* 메뉴 */-->
    <table>
      <th:block th:each="kind:${type}">
        <tr th:text="${kind}"></tr>
        <tr th:if="${menus}==${kind}" th:each="menu:${menus}">
          <td th:field="${menu.menu_name}" th:text="${menu.menu_name}"></td>
          <td th:field="${menu.price}" th:text="${menu.price}"></td>
        </tr>
      </th:block>
    </table>
  </div>
  <div><!--/* 리뷰 */-->
    <div>
      <p>★</p>
      <p th:field="${avgScore}" th:text="${avgScore}"></p>
    </div>
    <div th:each="review:${reviews}">
      <p th:field="${review.user_id}" th:text="${review.user_id}"></p>
      <p>★</p>
      <p th:field="${review.score}" th:text="${review.score}"></p>
      <p th:field="${review.review_time}" th:text="${review.review_time}"></p>
      <p th:field="${review.review}" th:text="${review.review}"></p>
      <img th:src="@{picture/review/{seq}(seq=${review.picture_location})}">
      <div th:if="${review.owner_comment} != null">
        <p th:field="${review.owner_id}" th:text="${review.owner_id}"></p>
        <p th:field="${review.owner_comment}" th:text="${review.owner_comment}"></p>
      </div>
    </div>
  </div>
</div>
<script src="/js/quick_menu.js"></script>
<form th:action="@{/restaurant/{seq}(seq=${store.seq})}" method="post">
    <select th:value="date" id="date">
      <option value="">날짜 선택</option>
      <option th:each="date:${left}" th:value="${date.reservation_date}" th:text="${date.reservation_date}"></option>
    </select>
    <select th:value="time" id="time">
      <option value="">시간 선택</option>
      <option th:each="date:${left}" th:value="${date.reservation_time}" th:text="${date.reservation_time}"></option>
    </select>
    <select th:value="people" id="people">
      <option value="">인원 선택</option>
      <option th:each="date:${left}" th:value="${date.people}" th:text="${date.people}"></option>
    </select>
    <select th:value="coupon" id="coupon_use">
      <option value="">쿠폰 사용</option>
      <option th:each="coupon:${coupon}" th:value="${coupon.discount_rate}" th:text="${coupon.discount_rate}"></option>
    </select>
    <button onclick="onDisplay()" id="reservation_button">예약</button>
  </div>
  <script>
    /*<![CDATA[*/
    var date = document.getElementById("reservation_date");
    var time = document.getElementById("reservation_time");
    var people = document.getElementById("reservation_people");
    var coupon = document.getElementById("reservation_coupon");

    date.innerHTML=document.getElementById("date");
    time.innerHTML=document.getElementById("time");
    people.innerHTML=document.getElementById("people");
    coupon.innerHTML=document.getElementById("coupon");
    /*]]>*/
  </script>
  <div id="reservation_confirm" style="display: none;">
      <p id="reservation_date"></p>
      <p id="reservation_time"></p>
      <p id="reservation_people"></p>
      <p id="reservation_coupon"></p>
    <input type="text" name="comment" id="comment">
      <button type="submit">확인 먹풍(-5)</button>
      <button onclick="offDisplay()">취소</button>
  </div>
</form>
</th:block>
</body>
</html>