body{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}

.orange{
  color: #FF7100;
}

.wrap{
  background-color: #F8F8F8;
  max-width: 1200px;
  margin:0 auto;
}

.topContainer{
  height: 132px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 16px;
  margin-top:60px;
}

.topContainer .name{
   font-size: 30px;
   font-weight: bold;
   color: #FF7100;
}

.topContainer .text{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.topContainer .modify{
    margin-left:20px;
    font-size: 17px;
    font-weight:bold;
    color:#FF9139;
    text-decoration: none;
}

.delete{
    text-decoration: none;
}


.summaryContainer{
  background-color: #FF7100;
  display: flex;
  padding: 21px 16px;
  height: 90px;
  margin-bottom: 10px;
}

.summaryContainer{
    height:80px;
}
.summaryContainer .item{
    flex-grow: 1;
}


.summaryContainer .item > div:nth-child(1){
  font-size: 13px;
  color:white;
}

.summaryContainer .number{
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}

.summaryContainer .v-line{
    border-left : thin solid #fff;
     height : 45px;
     margin-right:10px;
}


.listContainer{
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.listContainer .item{
  display: flex;
  align-items: center;
  padding: 16px;
  color: black;
  text-decoration: none;
  height: 56px;
  box-sizing: border-box;
}
.listContainer .text{
  font-size: 16px;
  position: relative;
}
.listContainer .right{
  margin-left: auto;
}

.listContainer .item:hover{
  background-color: #f8f8f8;
}